
<html>
    <head>
        <title>Django  blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>,nfjwh fhggehf bv hgewrkgvn,m  ergk dn cx ghjbsnfx</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>vmasn  iutyeff  fyeqiifv xcartadmbvsuSHSD GGH ASJDVBVBZDFJAGHL	 ut f.</p>
        </div>
    </body>
</html>